html {
    display: grid;
    height: 100%;
--bg : #FCFCFC;
--bg-panel : #EBEBEB;
--color-headings : rgba(187, 187, 187, 0.76);



}
html[data-theme='dark']{
   
    
    --bg : #333333;
    --bg-panel : #434343;
    --color-headings : rgba(187, 187, 187, 0.76);
    --color-text : #B5B5B5;
    
    
    
}
body {

background-color: var(--bg);

}

input[type=checkbox]{
height: 0;
width: 0;
visibility: hidden;

}

label {
cursor: pointer;

width: 55px;
height: 26px;
background-color: grey;
float: left;
border-radius: 100px;
position: relative;

}

label:after {
content: '';
position: absolute;
top: 3px;
left: 3px;
width: 20px;
height: 20px;
background: #fff;
border-radius: 90px;
transition: 0.5s;
}
 input:checked + label {
background: var(--color-headings);
 }
input:checked + label:after {
left: calc(100% - 5px);
transform: translateX( -100% );
}



 html.transition,
 html.transition *,
 html.transition *:before,
html.transition *:after {
transition: all 750ms !important ;
transition-delay: 0 !important;
}


.slider{

    margin: 300px auto;
    width: 760px;
    
    }
    
    .slide{
    width: 600px;
    height: 350px;
    overflow: hidden;
    float: left;
    position: relative;
    border-radius: 20px;
    
    }
    .slide img{
    width: 100%;
    height: 100%;
    
    }
    
    .prev, .next{
    width: 60px;
    float: left;
    margin-top: 260px;
    cursor: pointer;
    padding: 10px;
    }
    .slide .show {

    display: inline-block;

    }